{% include 'navbar.html' %}

{% if user.is_authenticated %}
<div>
    <a href="{% url 'products' %}">Add Products</a>
</div>
{% endif %}

<div class="outside_box">
    {% for product in products %}  
        {% if forloop.counter < 5 %}
        <div class="box_product">
        {% else %}
        <div class="four_box box_product">
        {% endif %}
            <div class="img_container">\
                <a href="{% url 'product_info' product.id %}"><img class="img_product" src="{{product.image.url}}"></a>
            </div>
            <p>{{product.Name}}</p>
            <p>${{product.Price}}</p>
            {% if product.created_by.id == user.id or user.is_staff %}
            <form method="post">
                {% csrf_token %}
                <button name="edit" value="{{product.id}}">Edit</button>
                <button name="delete" value="{{product.id}}">Delete</button>
            </form>  
                
            {% else %}
                {% if user.is_authenticated %}
                <a href="">Send Message</a>

                {% else %}
                    <p>You need to be logged in to send a message</p>
                {% endif %}

            {% endif %}
        </div>
    {% endfor %}
</div>




<style>
    .outside_box{
        background-color: red;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Adjust as needed */
        
        padding: 20px;
    }

    .img_product{
        width: 100%;
        height: 100%;
        
    }

    .four_box{
        margin-top: 50px;
    }

    .box_product{
        background-color: green;
        margin-right: 30px;
        margin-left: 30px;
    }

    .img_container{
        width: 300px;
        height: 300px;
        overflow: hidden;
    }
</style>