{% include 'navbar.html' %}
<div class="box_inf">
    <h1>{{product.Name}}</h1>
    <img src="{{product.image.url}}" alt="">
    <h2>$ {{product.Price}}</h2>
    <p>{{product.Description}}</p>
    <p>Seller: <a href="{% url 'profile' product.created_by.id %}"> {{product.created_by}}</a></p>
    {% for msg in messages %}
        {% if msg.product_selling.id == product.id %}
            <a href="{% url 'chat' msg.id %}">Send a message</a>

        {% else %}
            <a href="{% url 'message' product.id %}">Send a message</a>
        {% endif %}
    {% endfor %}
</div>




<style>
    .box_inf img{
        width: 500px;
        height: 500px;
    }

    .box_inf{
        background-color: red;
        text-align: center;
        width: 500px;
    }

    h1{
        margin: 0;
    }
</style>
